.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    display: inline-block;
    text-align: left;
}

.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0;
}

ul a {
    text-decoration: none;
}